    
      <br>
      <form [formGroup]="peopleForm" (ngSubmit)="submit()">
      <div fxFlex fxLayout="row wrap" fxLayoutGap="20px">

      <div>
          Roster date range
          <ejs-daterangepicker formControlName="date" name="date" id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker>
          </div><br>
      </div>
      <div fxFlex class="register-but">
          <button   mat-raised-button color="primary">Create Roster</button>
        </div>
      </form>
      <button mat-button mat-raised-button color="warn" routerLink="/aHome"> Go back  </button>


<br><br><br> 

<mat-list-item  *ngFor="let item of roster; let i=index">
     <mat-divider></mat-divider><br>
      <strong>Date:</strong>  {{item.date}}<br> 
        
      <button mat-button mat-raised-button color="accent" [routerLink]="['/rEdit', i]">edit  </button>
        <mat-divider ></mat-divider>
</mat-list-item>

<br><br><br> 

