
      <table>
        <tr  *ngFor="let item of roster; let i=index">
         <td> {{item.date}}</td> 
         <td> {{item.crucifer}}</td>
         <td> {{item.acolyte1}}</td>
         <td> {{item.acolyte2}}</td>
        </tr>

      </table>
      
      <br>
      <form [formGroup]="peopleForm" (ngSubmit)="submit()">
      <div fxFlex fxLayout="row wrap" fxLayoutGap="20px">

      <div>
          Roster date range
          <ejs-daterangepicker formControlName="date" name="date" id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker>
          </div><br>
      </div>
      <div fxFlex class="register-but">
          <button   mat-raised-button color="primary">Create Roster</button>
        </div>
      </form>
      {{ peopleForm.value | json }} 

<br><br><br>






