h1{
  text-align:center;
}
div{
  display:flex;
  margin:auto;
  flex-direction: column;
  flex-wrap:wrap;
  width:90%;

}
mat-form-field{
  margin-left:5%;
  width:25%;
}
table{
  width:80%;
  margin:auto;
}
