h1{
  text-align:center;
}
div{
  display:flex;
  margin:auto;
  flex-direction: column;
  flex-wrap:wrap;
  width:90%;
  overflow-x: auto;
  overflow-y : hidden;

}
mat-form-field{
  margin-left:5%;
  width:25%;
}
table{
  width:100%;
  text-align: center;
  margin:auto;
}
td{
  border:solid lightgray 1px;
}