.green{
  background-color:green;
  color:white;
  float:left;
}

.red{
  background-color:red;
  color:white;
  float:right;
}

.mat-form-field{
   width:80%;
 }
 .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.register-but{
  margin-top:25px;
  margin-left:20px;
}

mat-radio-group{
  width: 100%;
  padding-bottom: 15px;
}