<mat-card>
  <div class="editbody">
     <h1>Current Details</h1>
  <mat-divider></mat-divider>
  <br>


	<div class="col">
      <strong>Date:</strong> {{roster[id].date}}<br>
      <strong>Acolyte 1:</strong> {{roster[id].acolyte1}} <br>
     <strong>Acolyte 2:</strong> {{roster[id].acolyte2}} <br>
      <strong>Chalice:</strong> {{roster[id].chalice}} <br>
      <strong>Days working:</strong> {{roster[id].crucifer}} <br>
      <strong>date:</strong> {{roster[id].intercessor}} <br>
      <strong>Senior Server:</strong> {{roster[id].senSer}} <br> 
      <strong>Sidesperson:</strong> {{roster[id].sidesperson}} <br>
      <strong>Sidesperson:</strong> {{roster[id].sidesperson2}} <br>
      <strong>Reader 1:</strong> {{roster[id].reader}} <br>
      <strong>Reader 2:</strong> {{roster[id].reader2}} <br>
      <strong>Thurifer:</strong> {{roster[id].thurifer}} <br>


 <p class="edit-submitted-message">
		{{message}} <br>
		<button mat-raised-button [routerLink]="['/aRoster']" [ngClass]="[bntStyle]" color="primary">Back</button>
       </p>
	<div class="col">
    <br>
    <mat-divider></mat-divider>
    <br>
		<h1>EDIT</h1>
<form [formGroup]="rosterForm" (ngSubmit)="submitEdit()">
    <div fxFlex fxLayout="row wrap" fxLayoutGap="20px">

				<mat-form-field>
					<input matInput placeholder="date" formControlName="date">
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="acolyte1" formControlName="acolyte1">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Acolyte 2" formControlName="acolyte2">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Chalice" formControlName="chalice">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Crucifer" formControlName="crucifer">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="intercessor" formControlName="intercessor">
				</mat-form-field>
         
         <mat-form-field>
					<input matInput placeholder="Reader 1" formControlName="reader">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Reader 2" formControlName="reader2">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Senior Server" formControlName="senSer">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="sidesperson 1" formControlName="sidesperson">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="sidesperson 2" formControlName="sidesperson2">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="Thurifer" formControlName="thurifer">
				</mat-form-field>

        <mat-form-field>
					<input matInput placeholder="backEndDate" formControlName="backEndDate">
				</mat-form-field>

			</div>

      <div>
      <button class="green" type="submit" mat-raised-button>Submit</button>
      </div>

</form>
	
	</div>

</div>
<br>
  </div>
  <br>
</mat-card>
<br><br><br><br><br><br>

   
   
   
   
   
   
   
   
   
   
   